@charset "UTF-8";

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color:#f0f0f0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #305F8A;
    color: #fff;
    width: 100%;
    box-sizing: border-box; /* Ensure padding and border do not add to the width */
}

header .logo {
    font-size: 1.5em;
}

.header-right {
    display: flex;
    align-items: center;
}

.language-options {
    display: flex;
    gap: 15px;
    margin-right: 20px;
}

.language-options a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

.language-options a:hover {
    text-decoration: underline;
}

.settings {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.container {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 25%;
    background-color: #f4f4f4;
    padding: 20px;
    box-sizing: border-box;
    height:80vh;
}

.user-profile {
    text-align: center;
    margin-bottom: 20px;
}

.user-profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    margin: 10px 0;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
}

.dashboard {
    width: 75%;
    padding: 20px;
    box-sizing: border-box;
}
